<!--gets the list of the report model to the model variable-->
@model PaginatedList<TechPetal_Lab.Models.Report>

@{
    //razor syntax
    ViewData["Title"] = "Show Reports";
}

<main>
    <div class="container my-4">
        <h1 class="title"> MANAGE REPORTS</h1>
        <form asp-action="ShowReports" method="get"> 
            <div class="form-actions no-color">
                <p>
                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-dark" /> |
                    <a asp-action="ShowReports">Back to Full List</a>
                </p>
            </div>
        </form>
        <!--Get the data of the title and displays it on the page-->
        
       
            <table class="table table-hover table-bordered " style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Report Description
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Manage
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!--Loops threw the model to get the values from database to display it on the page-->
                 
                    @foreach (var reports in Model)
                    {
                    <tr>
                        <td style="margin-left:10px;">@reports.Product.Name</td>

                        <td style="margin-left:10px;">@reports.WebUser.Name @reports.WebUser.Surname</td>

                       
                        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:30ch">@reports.ReportDetails</td>
                        <td><a asp-controller="Report" asp-action="ReportDetails" asp-route-id="@reports.Id">Details</a></td>
                        <td>

                            <!--Removes the report from database and from the page-->
                            <a class="btn btn-danger" asp-controller="Report" asp-action="DeleteReport" asp-route-id="@reports.Id">
                                Remove
                            </a>
                        </td>
                    </tr>
                       




                    }
                </tbody>
            </table>

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="ShowReports"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-dark @prevDisabled">
                Previous
            </a>
            <a asp-action="ShowReports"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-dark @nextDisabled">
                Next
            </a>
        </div>
    
</main>

